.row {
  display: grid;
  grid-template-columns: 30% 12% repeat(2, 17%) 1fr;
  gap: 1px;
}

.row:nth-child(odd) {
  background-color: #eeeeee;
}

.data-cell {
  font-size: 16px;
  padding: 15px;
  color: var(--secondary_color);
  align-self: center;
}

.data-cell a {
  text-decoration: underline;
  color: var(--secondary_color);
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select > option {
  font-size: 15px;
}

.select {
  width: 90%;
  font-size: 13px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
