.root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5ppx;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-header);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.header-container h1 {
  font-size: 2.2rem;
  font-weight: 300;
}
