@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e6fffd;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 50px auto;
  max-width: 500px;
}

.grid-item {
  cursor: pointer;
  pointer-events: none;
  border-radius: 10px;
  border-color: none;
  width: 90px;
  height: 90px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

img {
  width: 75%;
  height: 75%;
  display: none;
}

#empezarPartida {
  background-color: #5a46d8;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  width: 200px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;

  &:hover {
    background-color: #8477f7;
  }
}

.boton-div {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  width: 500px;
}
