@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  margin: 0 10px 0 10px;
  box-sizing: border-box;
}
header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
}
.navbar a {
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  padding: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid black;
}

.main-container {
  margin: 0 auto;
  max-width: 1280px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px 80px;
  margin-bottom: 32px;
}

.prenda {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.detalle {
  display: flex;
  justify-content: space-between;
}

.cloth-photo {
  border-radius: 4%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212429;
  color: white;
  height: 120px;
  padding: 0px 16px 0px 16px;
}

.elementoFooter {
  display: flex;
  justify-content: flex-start;
  gap: 0px 16px;
  align-items: center;
}

.footicon {
  border-radius: 120%;
  border: 10px solid white;
  background-color: white;
}

@media (max-width: 920px) {
  h1 {
    text-align: center;
  }
  .navbar ul,
  #icono-usuario,
  #icono-fav,
  #icono-cart {
    display: none;
  }

  .navbar {
    justify-content: center;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    height: auto;
    padding: 30px;
  }

  .elementoFooter {
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 0 16px 0;
  }
}
