@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h1 {
  margin-left: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}
footer {
  background-color: #212429;
  width: 100%;
  height: 120px;
  text-align: center;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}
header {
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-icon {
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-right: 20px;
}
.icon {
  color: black;
  text-decoration: none;
  padding: 16px;
}
.navbar-cen {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 32px;
  overflow: hidden;
  white-space: nowrap;
}
li {
  display: inline-block;
  margin-right: 16px;
}
a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.separador {
  width: 100%;
  height: 1px;
  background-color: black;
}
h1 {
  font-size: 32px;
  padding-top: 8px;
}
.main-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content img {
  flex: 0 0 calc(33.333% - 10px);
  margin: 5px;
}

.cloth {
  padding: 16px;
}
.detail {
  display: flex;
  justify-content: space-between;
}
.price {
  font-weight: bold;
}
.cloth-photo {
  border-radius: 10px;
}
.foot a {
  color: white;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.foot img {
  background-color: white;
  border-radius: 50%;
  border: 10px solid white;
}

@media (max-width: 920px) {
  h1 {
    text-align: center;
  }
  .navbar {
    flex-direction: column;
  }
  .der {
    display: none;
  }
  .navbar-cen {
    display: none;
  }
  footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }
  .foot {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: start;
    width: 100%;
  }
  .foot:last-child {
    border-bottom: none;
  }
  .cloth {
    flex: 0 0 calc(50% - 20px);
  }
}
